body {
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0;
}

@page {
  margin: 2cm;
}

.page {
  page-break-after: always;
  page-break-inside:avoid;
  position: relative;
}

.page .header {
  float: right;
  text-align: right;
  color: #004bab;
  border: 1px solid #004bab;
  font-size: 8pt;
  padding: 0.5em 1em;
  width: 4cm;
}

.page .logo {
  display: block;
  float: left;
  width: 4cm;
}


h1, h2, h3 {
  color: #004bab;
}

h1, h2 {
  text-align: center
}

.title {
  margin-bottom: 0.1em;
}
.subtitle {
  margin-top: 0.1em;
}

.chairmen {
  border: 1px solid #CCC;
  margin: 1em auto;
  padding: .5em 1em;
}

.blank {
  display: inline-block;
  border-bottom: 1px solid #CCC;
}

/*Article/session infos*/

.info-box {
  border: 1px solid #CCC;
  margin: 1em auto;
  padding: 0em 1em;
}

.info-box p {
}

.article-authors {
  color: #004bab;
}


/* Questions */
h2.questions-title {
  margin-bottom: 0.5em;
}

.question {
  margin-bottom: 1.2em; /*space between questions*/
}
.questions .question:last-of-type {
  margin-bottom: 0em;
}

.question h3 {
  margin: 0.3em;
  font-size: 1em;
}

.question p {
  margin: 0.3em 0;
}

/* Anwsers */

.answer {
  border: 1px solid #CCC;
  text-align: center;
}

p.answer {
  padding:.25em;
}

.answer.free-comments {
  min-height: 5em;
}


table.answer {
  border-collapse: collapse;
  width: 100%;
}

.answer td {
   border: 1px solid #CCC;
   height: 1.5em;
   vertical-align: middle;
}

/* Thanks */

p.thanks {
  margin-top: 2em;
  text-align: center;
  color: #004bab;
}
