/*CSS style sheet for SGE 2014 proceedings*/
/* author: Pierre Haessig */

/******** Global appearance settings ***********/

body {
  font-family: sans;
  margin:0px;
  background-color:#EEE;
}

ul > li {
  list-style-type: circle;
  color
}

div#page {
    margin: 20px auto;
    padding: 0 40px;
    max-width: 980px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    background-color: white;
}

a:link {
  color: #000077;
  text-decoration: none;
}
a:hover {
  color: #000077;
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  color: #000077;
}

/*for small screens*/
@media screen and (max-width: 1060px) {

  div#page {
  margin: 0;
  padding: 0 4%;
  }

}


/*** Header and footer ***/

#header, #footer {
  position: relative;
  overflow: hidden;
  border-width: 1px;
  border-color: #CCC;
}

#header {
  padding-top: 10px;
  border-bottom-style: solid;
}

#header h1.event-name {
  margin-top:1.5em;
  font-size: 1.5em;
}

#header h2.event-description {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

#header img.logo {
  max-width: 100%;
  }

/* header navigation bar */
#header nav {
  clear: both; /*clear the logo*/
  padding-top: 5px;
  text-align: left;
  position: relative;
}

#header nav a {
  display: inline-block;
  padding: 5px 1.5em;
  text-decoration: none;
  color: #666;
}
#header nav a:hover {
  color: #000;
  background-color:#eee;
}
#header nav a.active {
  font-weight: bold;
}

img.logo {
  float:right;
}

#footer {
  text-align: center;
  padding: 5px;
  border-top-style: solid;
}

section.content {
  overflow: hidden;
  padding: 0.5em 0;
}


/******* Special pages *********/

/*** Index page ***/

/* Sponsor list */

ul.sponsor_list {
  padding-left: 0;
}

ul.sponsor_list li {
  list-style-type: none;
  display: block;
  float: left;
  margin: 30px;
}

ul.sponsor_list img {
  max-height:80px;
  max-width:300px;
}

ul.sponsor_list span {
  text-align:center;
  display: block;
  padding-bottom:10px;
}


/*** List of all articles ***/

.article_list {
  padding-left: 0;
}

.article_list li {
  margin-bottom: 1em;
  list-style-type: none;
  border-left: solid 1px #CCC;
  padding-left: 7px;
}

.article_list small.article-affil {
  color: gray;
}

.article_list em.article-title {
  color: #008;
}


/*** Article detail page ***/

div.download-pdf {
  float: right;
  text-align:center;
  border: dotted 1px #CCC;
}

.download-pdf img {
  width: 128px;
}

.download-pdf p {
  margin-top: 0;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  div.download-pdf {
    float: none;
  }
  .download-pdf img {
    max-width: 18%;
  }
  .download-pdf p {
    display: inline;
    bottom: 5px;
    position:relative;
  }
}

section.article-info {
  max-width: 700px;
}

.article-info h1{
  font-size: 1.1em;
}

div.abstract {
  background-color: #EEEEEE;
  padding: 5px 15px;
  margin: 1em 0;
}

.abstract p {
  font-style: italic;
}

/* List of authors, with their articles */

nav.author-index {
  text-align: center;
  font-size: 1.2em;
  display: block;
  margin: 1em 40px;
  border-style: solid none;
  border-width: 1px;
  border-color: #CCC;
  overflow: hidden;
}
nav.author-index a{
  color: #666;
  display: inline-block;
  padding:5px 15px;
}
nav.author-index a:hover{
  color: #000;
  background-color: #eee;
  text-decoration: none;
}

ul.author_list {
  padding-left: 0;
}
ul.author_list > li {
  margin-bottom: 1em;
  list-style-type: none;
}

/*list of articles of the author*/
ul.author_list > li ul {
  padding-left: 10px;
}
ul.author_list > li li{
  list-style-type: none;
}
ul.author_list > li li:before{
  content: "— ";
  color: #CCC;
}

ul.author_list em.article-title {
  color: #008;
  font-size: 0.8em;
}


/*** List of all sessions***/
h2.day {
  background-color:#777;
  color:white;
  clear: both;
  padding:7px 10px;
  margin-top:2em;
}

ul.session-group-list {
  padding-left: 0;
}
ul.session-group-list > li {
  list-style-type: none;
  display:block;
  overflow: hidden;
  clear:both;
  margin: 1.5em 0;
}


ul.session-list {
  position:relative;
  padding-left: 0;
  left:-10px;
}

ul.session-list > li {
  list-style-type: none;
  display: block;
  float: left;
  margin: 5px 10px;
  text-align: center;
}


.session-box {
  display: table-cell;
  font-size: 0.9em;
  padding: 10px;
  width: 200px;
  height: 110px;
  vertical-align: middle;
  color: black;
}

.session-box:hover {
  /*background-color: #eee;*/
  border: solid rgba(0, 0, 0, 0.5) 1px;
  padding: 9px;
}

.session-type {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 0.8em;
}

.session-box small.location {
  display:block;
  color: rgba(0,0,0,0.5);
  margin-top:0.5em;
  font-style: italic;
}

/* box colors */
div.grand-amphi-marie-curie {
  background-color: #92d050; /*green*/
}

div.amphi-tocqueville {
  background-color: #c587d7; /*purple*/
}

div.salle-condorcet {
  background-color: #ff8bb3; /*rose*/
}

div.amphi-fonteneau {
  background-color: #fcaf3e; /*orange*/
}

div.hall-villon {
  background-color: #8db4e3; /*blue*/
}

