{% macro title_link(art, root_path) -%}
<a class='article-title' href="{{ root_path }}/articles/article_{{ art.docid }}.html">
<em class='article-title'>"{{ art.title }}"</em></a>
{%- endmacro %}

{% macro fmt_affil(affil) -%}
{% if affil -%}
<sup class='article-affil'>{{ affil|int_list_fmt|join(',') }}</sup>
{%- endif %}
{%- endmacro %}

{% macro authors(authors_split, root_path, with_affil=False, with_link=True) -%}
<span class='article-authors'>
  {% for auth, affil in authors_split %}
    {%- if with_link -%}
    <a href="{{ root_path }}/author_list.html#{{auth}}">{{ auth }}</a>
    {%- else -%}
    {{ auth }}
    {%- endif -%}{{ 
     fmt_affil(affil) if with_affil else ''}}{{
     ', ' if not loop.last else '' }}
  {% endfor -%}
</span>
{%- endmacro %}

{% macro pdf_href(art, root_path) -%}
href="{{ root_path }}/articles/article_{{ art.docid }}.pdf"
{%- endmacro %}


{% macro list(articles, root_path) -%}
{% for art in articles %}
  <li>
    {{ authors(art.authors_split, root_path)|indent(4) }}.
    <br>
    {{ title_link(art, root_path)|indent(4) }}
    <a {{ pdf_href(art, root_path) }} class='pdf'>PDF</a>
  </li>
{% endfor %}
{%- endmacro %}


{% macro list_details(articles, root_path) -%}
{% for art in articles %}
  <li>
    {{ authors(art.authors_split, root_path, with_affil=True)|indent(4) }}.
    <br>
    {{ title_link(art, root_path) }}
    <br>
    
    {% if art.labos %}
    <small class='article-affil'>{{ art.labos }}</small>
    <br>
    {% endif %}
    
    <strong>Thématique</strong> :
    <a href="{{ root_path }}/topics/topic_{{ topics_code.get(art.topic) }}.html">
        {{ art.topic }}</a>,
    
    <strong>Session</strong> :
    <a href="{{ root_path }}/sessions/session_{{ art.id_session }}.html">
        {{ art.id_session}}</a>
    <a {{ pdf_href(art, root_path) }} class='pdf'>PDF</a>
  </li>
{% endfor %}
{%- endmacro %}

