{% macro title_link(art, root_path) -%}
<a href="{{ root_path }}/articles/article_{{ art.docid }}.html">
<em class="article-title">"{{ art.title }}"</em>
</a>
{%- endmacro %}

{% macro pdf(art, root_path) -%}
<a href="{{ root_path }}/articles/article_{{ art.docid }}.pdf">article PDF</a>
{%- endmacro %}


{% macro list(articles, root_path) -%}
{% for art in articles %}
  <li>
    <span class="authors">{{ art.authors_no_affil }}</span>.
    <br>
    {{ title_link(art, root_path) }}
    <br>
    Topic 
    <a href="{{ root_path }}/topics/topic_{{ topics_code.get(art.topic) }}.html">
        {{ art.topic }}</a>,
    Session
        {{ art.id_session}},
    {{ pdf(art, root_path) }}
    
  </li>
{% endfor %}
{%- endmacro %}


{% macro list_details(articles, root_path) -%}
{% for art in articles %}
  <li>
    <span class="authors">{{ art.authors_no_affil }} </span> :
    <br>
    {{ title_link(art, root_path) }}
    <br>
    <small class='article-affil'>{{ art.labos }}</small>
    <br>
    <!-- 
    <strong>Topic</strong> :
    <a href="{{ root_path }}/topics/topic_{{ topics_code.get(art.topic) }}.html">
        {{ art.topic }}</a>,
    -->
    <strong>Session</strong> : {{ art.id_session}}
    <br>
    {{ pdf(art, root_path) }}
  </li>
{% endfor %}
{%- endmacro %}

