{% extends "base.html" %}

{% block title %}Liste des contributions{% endblock title %}
{% block content %}
  <h1>Liste des contributions</h1>

  <ol class="article_list">
  {% for art in articles %}
    <li>{{ art.authors }} :
    <br> <em>"{{ art.title }}"</em>
    <br> <small>{{ art.labos }}</small>
    <br>
    <strong>Topic</strong> : {{ art.topics}},
    <strong>Session</strong> : {{ art.id_session}}
    <br>
    <a href="articles/article_{{art.docid}}.html">fiche détaillée</a>
    <a href="articles/article_{{art.docid}}.pdf">article PDF</a>
    </li>
  {% endfor %}
  </ol>

{% endblock content %}

