{% extends "base.html" %}
{% import 'article_macros.html' as article_macros %}

{% block title %}Fiche article {{ article.authors_etal }}{% endblock title %}
{% block content %}

  {% if article.pdf -%}
  <a href="{{ root_path }}/{{ article.pdf }}" class='download-pdf available'>
    <img src='pdf_icon.png' alt='pdf icon'>
    <p>Article PDF</p>
  </a>
  {%- else -%}
  <div class='download-pdf not-available'>
    <img src='pdf_icon.png' alt='pdf icon'>
    <p>Présentation PDF disponible prochainement</p>
  </div>
  {%- endif %}
  
  <section class='article-info'>
  <h1>{{ article.title }}</h1>
  
    <p>
    <strong>Auteurs</strong> :
    {{ article_macros.authors(article.authors_split, root_path, with_affil=True) }}
    </p>
    
    <p><small>
    <strong>Affiliations</strong> :
    {{ article.labos }}
    </small></p>
    
    <p>
    <strong>Thématique</strong> :
    <a href="{{ root_path }}/topics/topic_{{ topics_code.get(article.topic) }}.html">
        {{ article.topic }}</a>
    <br>
    <strong>Session</strong> :
    <a href="{{ root_path }}/sessions/session_{{ article.id_session }}.html">
        {{ article.id_session }} "{{ sessions_details[article.id_session].name}}"</a>
    </p>
    
    {% if article.abstract %}
    <div class='abstract'>
      <h3>Résumé</h3>
      <p>
      {{ article.abstract }}
      </p>
    </div>
    {% endif %}

  </section>

{% endblock content %}

