<!doctype html>

<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Actes de la conférence{% endblock %} - {{ event_name }} </title>
  <meta name="description" content="Actes de la conférence {{ event_name }}">
  <meta name="author" content="organisateurs {{ event_name }}">

  <link rel="stylesheet" href="{{ root_path }}/style.css">
</head>

<body>

<div id='page'>
<header>
  {% block header %}
  <img class='logo' src='{{ root_path }}/logo_sge.png' alt="logo SGE">
  <h1>{{ event_name }}</h1>
  <em>{{ event_date }}, {{ event_location }}</em>
  
  <nav>
    <a href='{{ root_path }}/index.html'>Accueil</a>
    <a href='{{ root_path }}/article_list.html'>Liste de toutes les contributions</a>
    <a href='{{ root_path }}/session_list.html'>Les sessions</a>
    <a href='{{ root_path }}/author_list.html'>Les auteurs</a>
  </nav>
  {% endblock header %}
</header>

<section class="content">
  {% block content %}
  {% endblock content %}
</section>

<footer>
  {% block footer %}
  <small>{{ event_name }}, {{ event_date }}, {{ event_location }}</small>
  {% endblock footer %}
</footer>
</div>

</body>
</html>
