<!doctype html>

<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Actes de la conférence{% endblock %} - {{ event_name }}</title>
  <meta name="description" content="Actes de la conférence {{ event_name }}">
  <meta name="author" content="organisateurs {{ event_name }}">
  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="{{ root_path }}/style.css">
</head>

<body>

<div id='page'>
<header id='header'>
  {% block header %}
  <img class='logo' src='{{ root_path }}/logo_sge.png' alt="logo SGE">
  <h1 class='event-name'><a href='{{ event_website }}'>{{ event_name }}</a></h1>
  <h2 class='event-description'>{{ event_date }}, {{ event_location }}</h2>
  
  
  {% set navigation_bar = [
    ('index.html', 'Accueil'),
    ('article_list.html', 'Les contributions'),
    ('session_list.html', 'Les sessions'),
    ('author_list.html', 'Les auteurs'),
    ('lab_list.html', 'Les affiliations'),
  ] -%}
  {% set active_page = active_page|default('') -%}
  <nav>
    {% for href, caption in navigation_bar -%}
    <a href="{{ root_path }}/{{ href }}" {%
     if href == active_page %} class="active"{%
     endif %}>{{ caption }}</a>
    {%- endfor %}
  </nav>
  {% endblock header %}
</header>

<section class="content">
  {% block content %}
  {% endblock content %}
</section>

<footer id='footer'>
  {% block footer %}
  <a href='{{ event_website }}'>{{ event_name }}</a>,
  {{ event_date }}, {{ event_location }}
  <br>
  <small class='credits'>mise en forme web : {{ website_credits }} </small>
  {% endblock footer %}
</footer>
</div>

</body>
</html>
