{% extends "base.html" %}
{% set active_page = "index.html" -%}

{% block content %}
  <h1>Actes de la conférence</h1>

  <ul>
    <li><a href='article_list.html'>Liste de toutes les contributions</a></li>
    <li><a href='session_list.html'>Programme des sessions</a></li>
    <li><a href='author_list.html'>Les auteurs</a></li>
  </ul>
  
  <h2>Topics</h2>
  
  <ul>
  {% for top, art_list in topics|dictsort %}
    <li> {{ top }} :
      <a href='topics/topic_{{ topics_code.get(top) }}.html'>
        {{ art_list|count }} articles</a>
    </li>
  {% endfor %}
  </ul>
  
  <h2>Sponsors</h2>
  
  <ul class='sponsor_list'>
  {% for spon in sponsors %}
    <li>
    {% if spon.url %}  <a href='{{ spon.url }}'> {% endif %}
        <span> {{ spon.name }} </span>
        <img src='images/{{ spon.logo }}' alt='logo {{ spon.name }}'>
    {% if spon.url %}  </a> {% endif %}
    </li>
  {% endfor %}
  </ul>
  
{% endblock content %}
