{% extends "base.html" %}
{% set active_page = "lab_list.html" -%}

{% block title %}Liste des laboratoire{% endblock title %}
{% block content %}
  <h1>Laboratoires et centres de recherche</h1>
  
  <p>
  <em>Liste des laboratoires, centres de recherche ou institution
  des contributeurs de la conférence
  <br>
  (comptage approximatif, car totalement dépendant de la graphie des institutions)
  </em>
  </p>
  
  <ul>
  {% for lab, art_list in labs|dictsort %}
    <li >{{ lab.replace(' (France)', '')}} : <strong>{{ art_list| count }}</strong>
         article{{ 's' if art_list|count>1 else '' }} </li>
  {% endfor %}
  </ul>

  <em>Liste des contributions, classées par laboratoire</em>
  
  {% import 'article_macros.html' as article_macros %}
  <ul class="lab-list">
  {% for lab, art_list in labs|dictsort %}
    <li >{{ lab}}
    
    <ul class='title-list'>
    {% for art in art_list -%}
      <li>
        {{ article_macros.title_link(art, root_path) }}
      </li>
    {%- endfor %}
    </ul>
    </li>
  {% endfor %}
  </ul>

{% endblock content %}
