{% extends "base.html" %}

{% block title %}Session {{ session.name }}{% endblock title %}
{% block content %}

  <h1>Session "{{ session.name }}" <small>({{ session.id }})</small></h1>
  
  <p class='session-info {{ session.location|lower|replace(' ','-') }}'>
  {{ session.date.strftime('%A %d %B %Y') }},
  {{ session.begin.strftime('%Hh%M') }} — {{ session.end.strftime('%Hh%M') }},
  <strong>{{ session.location }}</strong>
  <br>
  <small class='session-type'>{{ session.type }} </small>
  </p>

  {% if session.parallel_next %}
  <nav class='session-carousel'>
    <em class='caption'>...en parallèle...</em>
    <a href='session_{{ session.parallel_prev }}.html' class='prev'>← session {{ session.parallel_prev }}</a>
    <a href='session_{{ session.parallel_next}}.html' class='next'>session {{ session.parallel_next }} →</a>
  </nav>
  {% endif %}

  <p>
  <strong>Président(e){{ 's'
    if session.chairmen_split|count > 1 else ''}}</strong> : {{ session.chairmen_split|join(', ') }}
  </p>
  
  <img src='./words_{{session.id}}.png' alt='word cloud of the session (from titles and abstracts)' class='session word-cloud'>
  
  <p>
  {{sessions[session.id]|count}} articles dans cette session :
  </p>
  
  {% import 'article_macros.html' as article_macros %}
    <ul class="article_list">
    {{ article_macros.list_details(sessions[session.id], root_path) }}
    </ul>
  
  <nav>
  <a href='../session_list.html'>Retour à la liste des sessions</a>
  </nav>
  
{% endblock content %}

