{% extends "base.html" %}
{% set active_page = "session_list.html" -%}

{% block title %}Programme des session{% endblock title %}
{% block content %}
  <h1>Programme des sessions</h1>

  {% for day, day_group in sessions_groups|dictsort %}
    <h2 class='day'>{{ day.strftime('%A %d %B %Y') }}</h2>

    <ul class='session-group-list'>
    {% for (begin, end), s_group in day_group|dictsort %}
      <li class='session-group'>
        <span class='hours'> {{ begin.strftime('%Hh%M') }} — {{ end.strftime('%Hh%M') }} </span>
        <ul class='session-list'>
          {% for s_id, ss in s_group|dictsort %}
          <li>
          <div class='session-type'>{{ ss.type }}</div>
          <a href='{{ root_path }}/sessions/session_{{ s_id }}.html'>
          <div class='session-box {{ ss.location|lower|replace(' ','-') }}'>
            <span class='session-name'>{{ ss.name }}</span>
            <small class='location'>{{ ss.location }}</small>
          </div>
          </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}

{% endblock content %}

