{% import 'article_macros.html' as article_macros %}
<!doctype html>

<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  
  <title>Programme détaillé {{ event_name }}</title>
  
  <link rel="stylesheet" href="{{ root_path }}/style-program.css">
</head>

<body>

<h1>Programme détaillé</h1>
(version brute de mise en forme, pour intégration dans un traitement de texte)

{% for day, day_group in sessions_groups|dictsort %}
<h2 class='day'>{{ day.strftime('%A %d %B %Y') }}</h2>

{% for (begin, end), s_group in day_group|dictsort %}
  <h3 class='hours'> {{ begin.strftime('%Hh%M') }} — {{ end.strftime('%Hh%M') }} </h3>
  {% for s_id, ss in s_group|dictsort %}
    <h4 class='session-name'> {{ ss.type|title }} {{ s_id }} : {{ ss.name }}</h4>
        <h5 class='location'>{{ ss.location}}</h5>
        <ol class='article-list'>
        {% for art in sessions[s_id] %}
          <li class='article'>
            {{ article_macros.authors(art.authors_split, '', with_affil=True, with_link=False)|indent(12) }}
            <br>
            <em class="article-title">"{{ art.title}}"</em>
            <br>
            <small class="article-affil">{{ art.labos}}</small>
          </li>
        {% endfor %}
        </ol>
    {% endfor %}
  {% endfor %}
{% endfor %}

</body>
</html>
